:root {
    --primary: #36506f;
    --secondary: #f5eee8;
    --shadow: #645d5d;
    --nav-hover: #f9eee4;
}

header {
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 100px;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0 10px;
}

.navitems {
    color: var(--secondary);
    font-size: 1.4rem;
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover);
}

h1 {
    grid-column: 1/2;
    color: var(--secondary);
    padding-left: 20px;
}

h1,
p,
nav {
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8rem;
    padding: 10px;
    color: var(--primary);
    text-align: center;
    grid-column: 1 / -1;
}

#menu {
    display: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

body, main, .main, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.3em, 1fr));
    gap: 1rem;
    max-width: 80em;
    margin: auto;
    padding: 15px;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
    box-shadow:
    -2px 2px 5px var(--shadow),
    2px 2px 5px var(--shadow);
}

.templecard {
    background-color: var(--secondary);
    padding: 15px;
    border: .5px solid var(--shadow);
}

p {
    text-align: center;
}

footer {
    background-color: var(--primary);
    text-align: center;
    margin-top: -13px;
}

.foot {
    padding: 10px;
    color: var(--secondary);
}

@media (max-width: 60em) {
    nav ul {
        display: none;
    }
    
    #menu {
        display: block;
        color: var(--secondary);
        position: absolute;
        top: 25px;
        right: 20px;
        font-size: 2rem;
        cursor: pointer;
    }

    nav ul.open {
        display: flex;
        justify-self: right;
        list-style: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 100px;
        width: 50%;
        gap: 10px;
        padding: 10px 0;
        text-align: center;
        background-color: var(--primary);
        flex-direction: column;
    }

    main {
        justify-content: center;
    }
}
